.inner_page {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 5px;
}
.signup {
	border: 1px solid #ccc;
	background-color: #efe;	
	margin: 10px 0 0 0;
	padding: 53px 90px;
}

/*form classes*/
.error-message {
	color: red;
	font-weight: bold;
	margin-left: 12em;
}
#UserUsername, #UserPassword1, #UserPassword2,#UserEmail {
	width: 206px;
}
#UserGroupId {
	margin: 0;
} 
.formWrap label {
	margin: 0 1em 0 0;
	float: left;
	width: 11em;
	text-align: right; 
}
div.formWrap  {
	background-color: inherit;
	border:0;
	margin: 0;
	padding: 0 0 1em 0;
}
div.formWrap input.form-error {
	background-color: #FBC2C4;
}
.submit {
	margin: 1em 0 1em 13.5em;
}
#ajimg {
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}
.greenMessage{
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}
#regSubmit {
	
}
/*albums calsses*/
p.album_image a img {
	border: 1px solid #777 ;
	background-color: white;
	padding: 0px;
}
.centerImg {
	margin: 0 auto;
	/*width: 630px;*/
	display: block;
}
div.album img {
	padding: 2px 5px 5px 0px;
	background: url('../img/shadow2.png') no-repeat	;
}
.album_p {
	margin: 0;
}
.album_span {
	color:#2361C7;
	font-weight: bold;
}
/*ajax*/
#storyTextUpload {
	color: #ff5e5e;
	/*font-weight: bold;*/
	font-size: 15pt;
	background-color: #ccc;
	/*width: 320px;*/
}
.imgInput {
	position: relative;
	background-color: #4a4a4a;
	padding: 10px;
	width: 300px;
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	cursor: move; 
}
.imgInputMove {
	position: absolute;
	top: 25px;
	left: 250px;
	font-weight: bold;
	font-size: larger;
	background-color: #FF8080;
	padding: 0px 3px;
}
.slider {
	margin: -100px 10px 0px 45px;
	padding: 7px ;
	width: 525px;
	height: 75px;
	background-color:#4a4a4a;
	z-index: 15500;
	position:absolute;
	top: 450px;
	/*opacity: 0.5;*/
	cursor: move;
}
.insideSlider {
	opacity: 1;
}