.inner_page {
	background-color: #eee;
	border: 1px solid #ccc;
	position: relative;
	height:470px;
}
.inner_page img.demoImg {
	position:absolute;
}

#slideshow img {
	z-index:1;
}

#slideshow img.active {
	z-index:3;
}
#slideshow img.previous {
	z-index:2;
}



/*form classes*/
.error-message {
	color: #8A1F11;
	font-weight: bold;
	margin-left: 12em;
}
#UserUsername, #UserPassword, #UserPassword1, #UserPassword2,#UserEmail {
	width: 206px;
}
div.input {
	/*margin-bottom: 1em;*/
	float:left;
}
#UserLoginForm fieldset {
	width: 212px;
}
#UserGroupId {
	margin: 0;
} 
.formWrap label {
	margin: 0 1em 0 0;
	float: left;
	width: 11em;
	text-align: right; 
}
div.formWrap  {
	background-color: inherit;
	border:0;
	margin: 0;
	padding: 0 0 1em 0;
}
div.formWrap input.form-error {
	background-color: #FBC2C4;
}
.submit {
	margin: 1em 0 1em 13.5em;
}
#ajimg {
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}
.greenMessage{
	margin: 0 0 0 12em;
	padding: 0;
	height: 15px;
}

/*login*/
div.loginFormSlider {
	z-index: 10;
	margin-top: 20px;
	background-color: #4A4A4A;
	border: 7px solid #ccc;
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	cursor: move; 
	width: 230px;
}
.gTest {
	font-weight: bold;
	font-size: larger;
	color: green;
	position: absolute;
	top: 20px;
	left: 30px;
}
div.loginFormSlider label {
	/*color: #FF8080;*/
	color:red;
	opacity: 1;
	/*background: url('./img/icons/back1.png') repeat;*/

	padding: 0 20px 0 4px ;
}
div.loginFormInput{
	background-color:#000;
	padding:0 0 15px 10px;
}
.loginFormSlider .submit{
		margin:5px 0 5px 10px;
}
.loginFormSlider div.input{
		margin-bottom: 0px;
}
.lfs {
	z-index: 10;
}
.lfs p{
	position: absolute;
	top: 130px;
	left: 75px;
}
.lfs p a{
	color: #FF8080;
	font-weight: bold;
	text-decoration: none;
	margin: 15px;
	padding: 2px 6px;
}

.lfs p a:hover{
	text-decoration: underline;
	color:red;
	background-color:#000;
	padding: 2px 6px;
}
.lfs .imgInputMove {
	cursor: move;
	top: 73px;
	left: 220px;
}
.lfs input {
	font-weight: bold;
}

.signup {
	z-index: 10;
	border: 1px solid #ccc;
	background-color: #efe;	
	margin: 20px 0 0 0;
	background-color: #4A4A4A;
	border: 7px solid #ccc;
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	cursor: move; 
	height: 70px;
}
.innerSignup {
	background-color:#000000;
	padding:10px 10px 10px 10px;
	text-align:center;
}
.innerSignup a{
	/*color:#FF8080;*/
	color:red;
	font-weight: bold;
	text-align: center;
	text-decoration:none;
}

.innerSignup a:hover{
	color:red;
	text-decoration:underline;
}  


/*albums calsses*/
p.album_image a img {
	border: 1px solid #777 ;
	background-color: white;
	padding: 0px;
}
.centerImg {
	margin: 0 auto;
	/*width: 630px;*/
	display: block;
}
div.album img {
	padding: 2px 5px 5px 0px;
	background: url('../img/shadow2.png') no-repeat	;
}
.album_p {
	margin: 0;
}
.album_span {
	color:#2361C7;
	font-weight: bold;
}
/*ajax upload*/
#storyTextUpload {
	color: #ff5e5e;
	font-size: 15pt;
	background-color: #ccc;
}
.imgInput .submit {
	margin: 0;
} 
#tuda{
	margin: 0 0 0 20px;
}
.imgInput {
	position: relative;
	background-color: #4a4a4a;
	border: 6px solid #ccc;
	padding: 10px;
	width: 340px;
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	cursor: move; 
}
.imgInputMove {
	position: absolute;
	top: -20px;
	left: 170px;
	font-weight: bold;
	font-size: larger;
	background-color: #FF8080;
	padding: 0px 3px;
}
.slider {
	margin: -100px 10px 0px 45px;
	padding: 7px ;
	width: 525px;
	height: 75px;
	background-color:#4a4a4a;
	z-index: 15500;
	position:absolute;
	top: 450px;
	/*opacity: 0.5;*/
	cursor: move;
}
.insideSlider {
	opacity: 1;
}
.capchaImg {
	margin: 0 0 1em 12em;
}
#UserCaptcha {
	width: 116px;	
}
.capchaImg p img {
	border: none;
	margin: 0;
	cursor: pointer;
}
.capReset {
	float: left;
	margin: 19px 19px 0 19px;
	position:relative;
}
.capReset span {
	color:grey;
	font-size:smaller;
	font-weight:bold;
	left:-5px;
	position:absolute;
	top:25px;
	width:150px;
}

#capImg {
	cursor: pointer;
}
.capPlace {
	/*background-image: url(../img/bg.jpg);*/
	background-color: #eee;
	border: 1px solid #7f9db9;
	
	width: 120px;
	height: 60px;
	float: left;
}
.fastUpload {
	z-index: 10;
	opacity: 0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	cursor: move;
	width: 350px;
	background-color: #4A4A4A;
	border: 6px solid #ccc;
	position: absolute;
	top: 350px;
	left: 50px;
}
.fastUpload input {
	margin: 0 0 0 10px;
}
.uploadNow {
	color:red;
	font-weight:bold;
	background-color: #000;
	padding: 10px;
}