/* global */


			
	/* slider */

		#slider ul, #slider li{ 
			margin:0;
			padding:0;
			list-style:none;
			}	
		#slider, #slider li{ 
			height:75px;
			/*width:696px;*/
			overflow:hidden;
			}	
		#slider{ 
			/*height: 85px;*/
			}	
		#prevBtn, #nextBtn{ 
			display:block;
			width:30px;
			height:77px;
			position:absolute;
			left:-30px;
			top:5px;
			}	
		#nextBtn{ 
			left:539px;
			z-index:500;
			}														
		#prevBtn a, #nextBtn a{  
			display:block;
			width:30px;
			height:77px;
			background:url(../img/btn_prev.png) no-repeat 0 0;	
			}	
		#nextBtn a{ 
			background:url(../img/btn_next.png) no-repeat 0 0;	
			}								
	
	/* // slider */													


